:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  font-synthesis: none;
}

body {
  margin: 0;
  background-color: rgb(230, 230, 197);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;

  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}


p {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}